:root {
    //--h: 100vh;
    //--scroll-y: 0px;
}

body {
    max-height: 100vh;
    overflow: hidden;
    main::before {
        content: "";
        width: calc(100% - 300px);
        left: 300px;
        height: 100%;
        position: fixed;
        background: rgb(0, 0, 0, 0);
        z-index: -1;
        visibility: hidden;
        transition: background .5s;
        @include breakpoint($xxl-bp) {
            width: calc(100% - 280px);
            left: 280px;
        }
        @include breakpoint($mid-bp) {
            width: 100%;
            left: 0;
        }
    }
}

.menu-open {
    main::before {
        content: "";
        background: rgb(0, 0, 0, .25);
        z-index: 1;
        visibility: visible;
    }
}

main {
    display: none;
    opacity: 0;
    transition: opacity .4s;
    width: 100%;
    font-family: "Graphik";
    background: #F7F7FA;
}

main.start {
    display: block;
    opacity: 1;
}

.ready {
    max-height: unset;
    overflow: unset;
    main {
        opacity: 1;
    }
    .preloader__wrapper {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.content {
    padding: 0;
    flex-grow: 1;
    //max-width: calc(100% - 30rem);
    max-width: calc(100% - 300px);
    //padding-bottom: 15rem;
    padding-bottom: 150px;
    @include breakpoint($xxl-bp) {
        //max-width: calc(100% - 28rem);
        max-width: calc(100% - 280px);
        //padding-bottom: 14rem;
        padding-bottom: 140px;
    }
    @include breakpoint($mid-bp) {
        max-width: 100%;
        min-width: 100%;
        //padding-bottom: 11rem;
        padding-bottom: 110px;
        position: relative;
    }
    @include breakpoint($sm-bp) {
        //padding-bottom: 10rem;
        padding-bottom: 100px;
    }
    @include breakpoint($tel-bp) {
        //padding-bottom: 8.3rem;
        padding-bottom: 60px;
    }
}

.title {
    //font-size: 5.2rem;
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    //margin: 1.1rem 0 0;
    margin: 11px 0 0;
    color: $black;
    //padding-left: 5rem;
    //padding-right: 5rem;
    padding-left: 50px;
    padding-right: 50px;
    @include breakpoint($xxl-bp) {
        //padding-left: 4.2rem;
        //padding-right: 4.2rem;
        padding-left: 42px;
        padding-right: 42px;    
        //font-size: 4.6rem;
        font-size: 46px;
    }
    @include breakpoint($mid-bp) {
        //padding-left: 3.8rem;
        //padding-right: 3.8rem;
        padding-left: 38px;
        padding-right: 38px;    
        //font-size: 4.4rem;
        font-size: 44px;
    }
    @include breakpoint($sm-bp) {
        //padding-left: 2.8rem;
        //padding-right: 2.8rem;
        padding-left: 24px;
        padding-right: 24px;    
        //font-size: 3.78rem;
        font-size: 38px;
    }
    @include breakpoint($tel-bp) {
        //font-size: 3.6rem;
        padding-left: 20px;
        padding-right: 20px;    
        font-size: 26px;
    }
}

.breadcrumb {
    //font-size: 1.4rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: left;
    //padding-left: 5rem;
    //padding-right: 5rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($xxl-bp) {
        //padding-left: 4.2rem;
        //padding-right: 4.2rem;
        padding-left: 42px;
        padding-right: 42px;   
        //font-size: 1.3rem; 
        font-size: 13px;
    }
    @include breakpoint($mid-bp) {
        //padding-left: 3.8rem;
        //padding-right: 3.8rem;
        padding-left: 38px;
        padding-right: 38px; 
        //font-size: 1.2rem;
        font-size: 12px;
    }
    @include breakpoint($sm-bp) {
        //font-size: 1.1rem;
        font-size: 11px;
        //padding-left: 2.4rem;
        //padding-right: 2.4rem;
        padding-left: 24px;
        padding-right: 24px; 
    }
    @include breakpoint($tel-bp) {
        //font-size: 1.4rem;
        font-size: 10px;
        //padding-left: 2.8rem;
        //padding-right: 2.8rem;
        padding-left: 20px;
        padding-right: 20px; 
    }

    li {
        max-width: max-content;
        //margin-left: 1rem;
        margin-left: 10px;
        //margin-bottom: .3rem;
        margin-bottom: 3px;
        &:nth-child(1) {
            margin-left: 0;
        }

        &::after {
            content: "/";
            //margin-left: .1rem;
            margin-left: 1px;
            color: $black;
            opacity: .4;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        opacity: .4;
    }
}

.intro {
    //padding: 12rem 0 0;
    padding: 120px 0 0;
    @include breakpoint($mid-bp) {
        //padding-top: 9rem;
        padding-top: 90px;
    }
    @include breakpoint($sm-bp) {
        //padding-top: 7rem;
        padding-top: 70px;
    }
    @include breakpoint($tel-bp) {
        //padding-top: 8.5rem;
        padding-top: 60px;
    }
}

.intro__img,
.video {
    width: 100%;
    height: auto;
    //margin-top: 3.5rem;
    margin-top: 34px;
    @include breakpoint($mid-bp) {
        //margin-top: 2.1rem;
        margin-top: 21px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 2.7rem;
        margin-top: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.section {
    //margin-top: 8rem;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint($xxl-bp) {
        //margin-top: 6rem;
        margin-top: 60px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 3rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
        //margin-top: 11rem;
        margin-top: 60px;
    }

    & > * {
        //padding-left: 5rem;
        //padding-right: 5rem;
        padding-left: 50px;
        padding-right: 50px;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 4.2rem;
            padding-left: 42px;
            padding-right: 42px;  
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px;
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px;
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            padding-left: 0;
            padding-right: 0;
        }

        .img__description {
            @include breakpoint($tel-bp) {
                //padding-left: 2.8rem;
                //padding-right: 2.8rem;
                padding-left: 20px;
                padding-right: 20px;  
            }
        }
    }
}

.section-horizontal {
    //margin-top: 8rem;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint($xxl-bp) {
        //margin-top: 6rem;
        margin-top: 60px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 3rem;
        margin-top: 30px;
    }
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
        //margin-top: 11rem;
        margin-top: 90px;
    }

    & > * {
        //padding-left: 5rem;
        //padding-right: 5rem;
        padding-left: 50px;
        padding-right: 50px;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 4.2rem;
            padding-left: 42px;
            padding-right: 42px;  
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px; 
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px;  
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px;  
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            padding-left: 0;
            padding-right: 0;
        }

        .img__description {
            @include breakpoint($tel-bp) {
                //padding-left: 2.8rem;
                //padding-right: 2.8rem;
                padding-left: 20px;
                padding-right: 20px;  
            }
        }
    }
}

.section-vertical {
    //padding-left: 5rem;
    //padding-right: 5rem;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        //padding-left: 4.2rem;
        //padding-right: 4.2rem;
        padding-left: 42px;
        padding-right: 42px;   
    }
    @include breakpoint($mid-bp) {
        //padding-left: 3.8rem;
        //padding-right: 3.8rem;
        padding-left: 38px;
        padding-right: 38px; 
    }
    @include breakpoint($sm-bp) {
        //padding-left: 2.4rem;
        //padding-right: 2.4rem;
        padding-left: 24px;
        padding-right: 24px;  
        flex-wrap: wrap;
    }
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
    }

    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
        }
        @include breakpoint($mid-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
            width: 100%;
        }    
    }

    & > .section__img {
        margin-top: 0;
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
    }
}

.section-vertical.narrow.vertical__text-img {
    @include breakpoint($sm-bp) {
        flex-direction: column;
    }
    & > div {
        @include breakpoint($mid-bp) {
            width: 50%;
            //padding-right: 5rem;
            padding-right: 50px;
        } 
        @include breakpoint($sm-bp) {
            width: 100%;
            padding-right: 0;
        } 
        @include breakpoint($tel-bp) {
            padding-left: 0;
        } 
        
        .text-wrap__vertical {
            @include breakpoint($tel-bp) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .section__img {
        @include breakpoint($sm-bp) {
            //margin-top: 6rem;
            margin-top: 60px;
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 5.5rem;
            margin-top: 40px;
            padding-left: 0;
            padding-right: 0;
        }
        .img__description {
            @include breakpoint($tel-bp) {
                padding-left: 20px;
                padding-right: 20px;    
            }
        }

        &:nth-child(1) {
            @include breakpoint($tel-bp) {
                //margin-top: 5.5rem;
                margin-top: 40px;
            }
        }
    }
}

.text-second {
    @include breakpoint($sm-bp) {
        .blocks:nth-child(1) {
            order: 2;
        }
        .blocks:nth-child(2) {
            order: 1;
        }
    }
}

.section-vertical.narrow {
    & > div {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        //padding-right: 8rem;
        padding-right: 80px;
        @include breakpoint($xxl-bp) {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
            //padding-right: 7rem;
            padding-right: 70px;
        }
        @include breakpoint($mid-bp) {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
            padding-right: 0;
        }
        @include breakpoint($tel-bp) {
            width: 100%;
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px;   
        }
    }

    & > .section__img {
        margin-top: 0;
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px;   
            //margin-top: 2rem;
            margin-top: 15px;
        }

        &:nth-child(1) {
            @include breakpoint($tel-bp) {
                margin-top: 0;
            }
        }
    }

    & > *:nth-child(2).text-wrap__vertical {
        //padding-right: 16rem;
        padding-right: 160px;
        @include breakpoint($xxl-bp) {
            //padding-right: 8rem;
            padding-right: 80px;
        }
        @include breakpoint($mid-bp) {
            padding-right: 0;
        }
    }

    .text-normal {
        @include breakpoint($xxl-bp) {
            //padding-right: 6rem;
            padding-right: 60px;
        }
        @include breakpoint($mid-bp) {
            //padding-right: 4rem;
            padding-right: 40px;
        }
        @include breakpoint($sm-bp) {
            //padding-right: 9rem;
            padding-right: 90px;
        }
        @include breakpoint($sm-bp) {
            padding-right: 0;
        }
        @include breakpoint($tel-bp) {
            //padding-right: 3rem;
            padding-right: 20px;
        }  
    }

    .hidden-img__wrap {
        @include breakpoint($xxl-bp) {
            //padding-right: 4rem;
            padding-right: 40px;
        }
        @include breakpoint($mid-bp) {
            padding-right: 0;
        }
    }

    .img-s {
        img {
            //padding-right: 18rem;
            padding-right: 180px;
            @include breakpoint($xxl-bp) {
                padding-right: 0;
            }
        }
        .img__description {
            //padding-right: 18rem;
            padding-right: 180px;
            @include breakpoint($xxl-bp) {
                padding-right: 0;
            }
        }
        .text-wrap__vertical {
            padding-right: 0;
            //margin-bottom: 14rem;
            margin-bottom: 140px;
            @include breakpoint($mid-bp) {
                margin-bottom: 0;
            }
        }
    }
}

.section.img-centered {
    .section__img {
        //padding-left: 23rem;
        //padding-right: 23rem;
        padding-left: 230px;
        padding-right: 230px;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 4.2rem;
            padding-left: 42px;
            padding-right: 42px; 
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px; 
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px; 
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
        }
    }
}

.img-centered.small {
    .section__img {
        //padding-left: 28rem;
        //padding-right: 28rem;
        padding-left: 280px;
        padding-right: 280px;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 4.2rem;
            padding-left: 42px;
            padding-right: 42px;
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px; 
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px; 
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px;
        }

        .img__description {
            @include breakpoint($tel-bp) {
                padding-left: 0;
                padding-right: 0;    
            }
        }
    }
}

.text-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }
}

.horizontal__text-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    @include breakpoint($sm-bp) {
        flex-direction: column;
        justify-content: flex-start;
        //padding-right: 9rem;
        padding-right: 90px;
    }
    @include breakpoint($tel-bp) {
        //padding-right: 3rem;
        padding-right: 20px;
    }
    
    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .text-normal {
        @include breakpoint($sm-bp) {
            //margin-top: 2.5rem;
            margin-top: 25px;
            padding-right: 0;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 3.1rem;
            margin-top: 22px;
            //padding-right: 1rem;
            padding-right: 0;
        }
    }
}

.text-wrap__vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        max-width: 45vw;
    }
    & > * {
        width: 100%;
    }
    .text-normal {
        //margin-top: 3.6rem;
        margin-top: 36px;
        @include breakpoint($xxl-bp) {
            //margin-top: 2.9rem;
            margin-top: 29px;
            //padding-right: 3rem;
            padding-right: 30px;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 3.1rem;
            margin-top: 22px;
            padding-right: 0;
        }
    }
}

.subtitle {
    //font-size: 1.95rem;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: 0em;
    text-align: left;
    color: $black-text;
    @include breakpoint($xxl-bp) {
        font-size: 17px;
        //font-size: 1.7rem;   
        box-sizing: border-box;
        //padding-right: 4rem;
        padding-right: 40px;
    }
    @include breakpoint($mid-bp) {
        line-height: 1.02;
       // font-size: 1.74rem;
    }
    @include breakpoint($sm-bp) {
        //font-size: 1.64rem;
        font-size: 16px;
    }
    @include breakpoint($tel-bp) {
        //font-size: 2.27rem;
    }
}

.text-normal {
    //padding-right: 8rem;
    padding-right: 80px;
    color: $black-text;
    //font-size: 1.7rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        //font-size: 1.6rem;  
        font-size: 16px;
        //padding-right: 4rem;   
        padding-right: 40px;   
    }
    @include breakpoint($mid-bp) {
        font-size: 15px;
        //font-size: 1.5rem;
        line-height: 1.27;
    }
    @include breakpoint($sm-bp) {
        font-size: 14px;
        //font-size: 1.4rem;
        line-height: 1.3;
    }
    @include breakpoint($tel-bp) {
        //font-size: 1.94rem;
        padding-right: 0;
    }
}

.section__img {
    width: 100%;
    height: auto;
    //margin-top: 8rem;
    margin-top: 80px;
    @include breakpoint($xxl-bp) {
        //margin-top: 7rem;
        margin-top: 70px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 6rem;
        margin-top: 60px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 4rem;
        margin-top: 40px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 5.5rem;
        margin-top: 40px;
    }

    img,
    video {
        width: 100%;
        height: auto;
    }
}

.colors {
    .colors__block {
        //margin-top: 4rem;
        margin-top: 40px;
        width: 100%;
        //height: 60rem;
        height: 600px;
        display: flex;
        @include breakpoint($xxl-bp) {
            //height: 54rem;
            height: 540px;
        }
        @include breakpoint($mid-bp) {
            //height: 40rem;
            height: 400px;
        }
        @include breakpoint($tel-bp) {
            //height: 30rem;
            height: 220px;
            margin-top: 40px;
            //margin-top: 5.5rem;
        }
    }
}

.colors__el {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //padding-left: 4.3rem;
    //padding-bottom: 4.7rem;
    padding-left: 43px;
    padding-bottom: 47px;
    width: 100%;
    transition: max-width .4s;
    overflow: hidden;
    @include breakpoint($xxl-bp) {
        //padding-left: 3.6rem;
        //padding-bottom: 3.7rem;
        padding-left: 36px;
        padding-bottom: 37px;
    }
    @include breakpoint($mid-bp) {
        //padding-left: 3.3rem;
        //padding-bottom: 3.6rem;
        padding-left: 33px;
        padding-bottom: 36px;
    }
    @include breakpoint($sm-bp) {
        //padding-left: 2.8rem;
        //padding-bottom: 3.2rem;
        padding-left: 28px;
        padding-bottom: 32px;
    }
    @include breakpoint($tel-bp) {
        //padding-left: 2.6rem;
        //padding-bottom: 2.7rem;
        padding-left: 26px;
        padding-bottom: 27px;
    }
}

.colors__el.active {
    .colors__info {
        opacity: 1;
        visibility: visible;
    }
}

.colors__block[data-num="3"] {
    .colors__el {
        max-width: 25%;
        @include breakpoint($sm-bp) {
            max-width: 15%;
        }
    }
    .colors__el.active {
        max-width: 50%;
        @include breakpoint($sm-bp) {
            max-width: 70%;
        }
    }
}

.colors__block[data-num="4"] {
    .colors__el {
        max-width: calc(50% / 3);
        @include breakpoint($sm-bp) {
            max-width: calc(30% / 3);
        }
    }
    .colors__el.active {
        max-width: 50%;
        @include breakpoint($sm-bp) {
            max-width: 70%;
        }
    }
}

.colors__block[data-num="5"] {
    .colors__el {
        max-width: calc(50% / 4);
        @include breakpoint($sm-bp) {
            max-width: calc(30% / 4);
        }
    }
    .colors__el.active {
        max-width: 50%;
        @include breakpoint($sm-bp) {
            max-width: 70%;
        }
    }
}


.colors__info {
    font-size: 15px;
    //font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    min-width: max-content;
    @include breakpoint($xxl-bp) {
        //font-size: 1.4rem;
        font-size: 14px;
    }
    @include breakpoint($mid-bp) {
        //font-size: 1.3rem;
        font-size: 13px;
    }
    @include breakpoint($sm-bp) {
        //font-size: 1.2rem;
        font-size: 12px;
    }
    @include breakpoint($tel-bp) {
        //font-size: 1.53rem;
        font-size: 11px;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;

        &:hover {
            span:nth-last-child(1) {
                text-decoration: underline;
            }
        }
        &:focus,
        &:active {
            outline: none;
        }
    }

    span {
        display: inline-block;
        //min-width: 10rem;
        min-width: 6.9em;
        //margin-top: 1rem;
        margin-top: 10px;
        @include breakpoint($xxl-bp) {
            //min-width: 9.5rem;
            min-width: 7em;
        }
        @include breakpoint($mid-bp) {
            //min-width: 9rem;
        }
        @include breakpoint($sm-bp) {
            //min-width: 8.1rem;
            min-width: 7em;
        }
        @include breakpoint($tel-bp) {
            //min-width: 8.5rem;
            min-width: 6.5em;
        }
    }
}

.dark {
    .colors__info {
        a {
            color: white;
        }
    }
}

.double-img {
    .section__img {

        &:last-child {
            //margin-top: 4rem;
            margin-top: 40px;
            @include breakpoint($xxl-bp) {
                //margin-top: 2rem;
                margin-top: 20px;
            }
            @include breakpoint($sm-bp) {
                //margin-top: 1.5rem;
                margin-top: 15px;
            }
        }
    }
}

.m-15 {
    //margin-top: 15rem;
    margin-top: 140px;
    @include breakpoint($xxl-bp) {
        //margin-top: 14rem;
        margin-top: 140px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 90px;
    }
}

.m-23 {
    //margin-top: 23rem;
    margin-top: 220px;
    @include breakpoint($xxl-bp) {
        //margin-top: 20rem;
        margin-top: 200px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 56px;
    }
}

.m-21 {
    //margin-top: 21rem;
    margin-top: 160px;
    @include breakpoint($xxl-bp) {
        //margin-top: 18rem;
        margin-top: 180px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 60px;
    }
}

.full-size-desktop {
    padding-left: 0;
    padding-right: 0;

    & > .section__img {
        padding-left: 0;
        padding-right: 0;

        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px;  
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px;
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px;   
        }

        .img__description {
            padding-left: 50px;
            padding-right: 50px; 
            @include breakpoint($mid-bp) {
                padding-left: 0;
                padding-right: 0;        
            }   
        }
    }

    & > .section__img {
        @include breakpoint($tel-bp) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.section.full-size {
    .section__img {
        padding-left: 0;
        padding-right: 0;

        .img__description {
            //padding-left: 5rem;
            //padding-right: 5rem;
            padding-left: 50px;
            padding-right: 50px;
            @include breakpoint($tel-bp) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.section.m-20 {
    //margin-top: 19.5rem;
    margin-top: 200px;
    @include breakpoint($xxl-bp) {
        //margin-top: 19rem;
        margin-top: 190px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 86px;
    }
}

.section.revers {
    flex-direction: row-reverse;
}

.two-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include breakpoint($tel-bp) {
        flex-direction: column;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
    }

    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
        }
        @include breakpoint($tel-bp) {
            width: 100%;
            //margin-top: 2rem;
            margin-top: 14px;

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    .description-s .img__description {
        @include breakpoint($xxl-bp) {
            //max-width: calc(100% - 6rem);
            max-width: calc(100% - 60px);
        }
        @include breakpoint($mid-bp) {
            max-width: 100%;
        }
    }
}

.horizontal__text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include breakpoint($mid-bp) {
        flex-direction: column;
    }
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
        @include breakpoint($mid-bp) {
            flex-direction: row;
        }
        @include breakpoint($sm-bp) {
            flex-direction: column;
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
        }
        
        & > * {
            @include breakpoint($mid-bp) {
                width: 50%;
            }
            @include breakpoint($sm-bp) {
                width: 100%;
            }
        }
    }

    .section__img {
        @include breakpoint($mid-bp) {
            //margin-top: 6rem;
            margin-top: 60px;
        }
        @include breakpoint($sm-bp) {
            //margin-top: 4rem;
            margin-top: 40px;
        }
        @include breakpoint($tel-bp) {
            padding-left: 0;
            padding-right: 0;
            //margin-top: 5.5rem;
            margin-top: 40px;
        }
    }

    .text-normal {
        @include breakpoint($xxl-bp) {
            //padding-right: 9rem;
            padding-right: 90px;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0;
            //padding-right: 3rem;
            padding-right: 30px;
        }
        @include breakpoint($sm-bp) {
            //margin-top: 2.2rem;
            margin-top: 22px;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 3.1rem;
            margin-top: 22px;
            padding-right: 0;
        }
    }

    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
        }
        @include breakpoint($mid-bp) {
            width: 100%;
        }    
    }
}

.img-m-14 {
    img {
        //margin-top: 14rem;
        margin-top: 140px;
    }
}

.img-full {
    img {
        width: 100%;
    }
}


.horizontal__text-img ~ .section__img {
    @include breakpoint($mid-bp) {
        //margin-top: 1.6rem;
        margin-top: 16px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 1.3rem;
        margin-top: 10px;
    }
}

.blocks {
    .section__img {
        margin-top: 0;
    }
}

.hide-1024,
.hide-1024.narrow {

    & > * {
        @include breakpoint($mid-bp) {
            width: 100%;
        }
    }

    .blocks:first-child {
        //padding-right: 13rem;
        padding-right: 130px;
        @include breakpoint($xxl-bp) {
            //padding-right: 11rem;
            padding-right: 110px;
        }
        @include breakpoint($mid-bp) {
            padding-right: 0;
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            //padding-right: 2.8rem;
            padding-right: 20px;
        }

        .hidden-img__wrap {
            //padding-right: 13rem;
            padding-right: 130px;
            //margin-top: 13.5rem;
            margin-top: 135px;
            @include breakpoint($xxl-bp) {
                padding-right: 0;
            }
            @include breakpoint($mid-bp) {
                margin-top: 0;
            }
            @include breakpoint($tel-bp) {
                //margin-top: 3rem;
                margin-top: 21px;
                box-sizing: border-box;
            }
        }
    }

    .hide {
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.img-left-small {
    .blocks:nth-last-child(1) {
        @include breakpoint($tel-bp) {
            margin-top: 14px;            
        }
    }
    .blocks:first-child {
        box-sizing: border-box;
        //padding-right: 34rem;
        padding-right: 130px;
        @include breakpoint($xxl-bp) {
            //padding-right: 12rem;
            padding-right: 70px;
        }
        @include breakpoint($mid-bp) {
            width: calc(50% - 10px);
            padding-right: 0;
        }
        @include breakpoint($tel-bp) {
            width: 100%;
            padding-right: 20px;
        }

        .section__img {
            padding-right: 130px;
            @include breakpoint($xxl-bp) {
                padding-right: 0;
            }
            @include breakpoint($mid-bp) {
                width: 100%;
            }
        }

        .text-normal {
            @include breakpoint($mid-bp) {
                //padding-right: 1rem;
                padding-right: 10px;
            }
            @include breakpoint($tel-bp) {
                padding-right: 0px;
            }    
        }
        
    }
}

.block-sm {
    //padding-right: 13rem;
    padding-right: 130px;
    @include breakpoint($xxl-bp) {
        //padding-right: 11rem;
        padding-right: 110px;
    }

    .hidden-img__wrap {
        //padding-right: 13rem;
        padding-right: 130px;
        //margin-top: 13.5rem;
        margin-top: 135px;
        @include breakpoint($xxl-bp) {
            padding-right: 0;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 3rem;
            margin-top: 21px;
            box-sizing: border-box;
        }
    }
}

.block-sm.section__img {
    margin-top: 0;
}


.hidden-img__wrap {
    @include breakpoint($mid-bp) {
        display: flex;
        justify-content: space-between;

        & > * {
            //width: calc(50% - 1rem);
            width: calc(50% - 10px);
        }
    }
    @include breakpoint($tel-bp) {
        flex-direction: column;
        //margin-top: 2rem;
        margin-top: 14px;

        & > * {
            width: 100%;
        }
    }

    img {
        @include breakpoint($mid-bp) {
            width: 100%;
            //margin-top: 6rem;
            margin-top: 60px;
        }
        @include breakpoint($sm-bp) {
            //margin-top: 5rem;
            margin-top: 50px;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 2rem;
            margin-top: 14px;
        }
    }
}

.hidden-img {
    display: none;

    @include breakpoint($mid-bp) {
        display: block;
    }
}

.single-text {
    .text-wrap__vertical {
        //max-width: calc(50% - 4rem);
        max-width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: unset;
        }
        @include breakpoint($mid-bp) {
            flex-direction: row;
            width: 100%;
            max-width: unset;
        }
        @include breakpoint($sm-bp) {
            flex-direction: column;
        }  
        
        & > * {
            @include breakpoint($xxl-bp) {
                //width: calc(50% - 1rem);
                width: calc(50% - 10px);
                margin-top: 0;
            }    
        }
    }

    .subtitle {
        @include breakpoint($mid-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .text-normal {
        @include breakpoint($xxl-bp) {
            //padding-right: 1rem;
            padding-right: 10px;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0;
            width: 50%;
            //padding-right: 3rem;
            padding-right: 30px;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
            //margin-top: 2.5rem;
            margin-top: 25px;
        }
        @include breakpoint($tel-bp) {
            padding-right: 0;
            //margin-top: 3.1rem;
            margin-top: 22px;
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
    
            .img__description {
                padding: 0;
            }    
        }
    }
}

.section-link {
    margin-top: 150px;
    @include breakpoint($xxl-bp) {
        margin-top: 60px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
        margin-top: 50px;
    }

    .link-block {
        display: block;
        //width: calc(100% - 10rem);
        width: calc(100% - 100px);
        border-bottom: 2px dotted rgb(12, 12, 12, .3);
        //padding-bottom: 4.4rem;
        padding-bottom: 44px;
        padding-left: 0;
        padding-right: 0;
        //margin-left: 5rem;
        //margin-right: 5rem;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
        margin-top: 150px;
        @include breakpoint($xxl-bp) {
            //margin-left: 4.2rem;
            //margin-right: 4.2rem;
            margin-left: 42px;
            margin-right: 42px;  
            //width: calc(100% - 8.4rem);
            width: calc(100% - 84px);
            margin-top: 60px;
        }
        @include breakpoint($mid-bp) {
            //margin-top: -1.5rem;
            margin-top: 20px;
        }
        @include breakpoint($sm-bp) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
            width: 100%;
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px;    
        }
        @include breakpoint($tel-bp) {
            //margin-top: -4.2rem;
            margin-top: 50px;
            //padding-bottom: 3.4rem;
            padding-bottom: 24px;
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
        }
    }
}

.link {
    border: 1px solid black;
    display: flex;
    align-items: center;
    max-width: max-content;
    //border-radius: 20rem;
    border-radius: 200px;
    //font-size: 1.7rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: center;
    color: black;
    text-decoration: none;
    //padding: 1.7rem 2.5rem;
    padding: 17px 25px;
    box-sizing: border-box;
    transition: .4s;
    @include breakpoint($xxl-bp) {
        //font-size: 1.6rem;
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        //font-size: 1.5rem;
        font-size: 15px;
    }
    @include breakpoint($sm-bp) {
        //font-size: 1.5rem;
        font-size: 14px;
        //padding-right: 2.3rem;
        padding-right: 23px;
        //padding-bottom: 1.5rem;
        padding-bottom: 15px;
    }
    @include breakpoint($tel-bp) {
        //font-size: 1.95rem;
        //padding: 2.2rem 3.2rem;
        padding: 14px 25px;
    }
    &:hover {
        color: white;
        background: black;

        svg {
            path {
                stroke: white;
            }
        }
    }

    svg {
        //margin-left: 1.8rem;
        margin-left: 18px;
        //height: 1.4rem;
        //width: 1.7rem;
        width: 18px;
        height: 18px;
        @include breakpoint($xxl-bp) {
            width: 16px;
            height: 12px;    
        }
        @include breakpoint($mid-bp) {
            //margin-left: 1.7rem;
            margin-left: 17px;
        }  
        @include breakpoint($tel-bp) {
            //margin-left: 2.4rem;
            //height: 1.8rem;
            //width: 2.2rem;
        }  

        path {
            transition: .4s;
        }
    }
}

.big-left {
    @include breakpoint($tel-bp) {
        padding-left: 0;
        padding-right: 0;
    }

    & > .section__img {
        margin-top: 0;
        //padding-right: 8rem;
        padding-right: 80px;
        @include breakpoint($xxl-bp) {
            padding-right: 40px;
            //padding-right: 4rem;
        }
    }

    & > * {
        //width: calc(50% - 4rem);
        width: calc(50% - 40px);
        @include breakpoint($mid-bp) {
            //width: calc(50% - .5rem);
            width: calc(50% - 5px);
        }
        @include breakpoint($tel-bp) {
            //padding-left: 2.8rem;
            //padding-right: 2.8rem;
            padding-left: 20px;
            padding-right: 20px; 
        }

        &:nth-child(1) {
            //width: calc(50% + 4rem);
            width: calc(50% - 40px);
            @include breakpoint($mid-bp) {
                //width: calc(50% - .5rem);
                width: calc(50% - 5px);
            }
            .text-normal {
                @include breakpoint($mid-bp) {
                    //max-width: 38rem;
                    max-width: 380px;
                }
                @include breakpoint($sm-bp) {
                    max-width: 90%;
                }
                @include breakpoint($tel-bp) {
                    max-width: 100%;
                }
            }
        }
        &:nth-child(1).section__img {
            //padding-right: 12rem;
            padding-right: 120px;
        }
    }    
    
    .section__img {
        @include breakpoint($tel-bp) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.img__description {
    //margin-top: 2.8rem;
    margin-top: 28px;
    //font-size: 1.7rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    color: rgb(0, 0, 0, .4);
    @include breakpoint($xxl-bp) {
        //margin-top: 2.4rem;
        margin-top: 24px;
        //font-size: 1.6rem;
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        //font-size: 1.5rem;
        font-size: 15px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 2rem;
        margin-top: 20px;
        //font-size: 1.4rem;
        font-size: 14px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 2.4rem;
        //font-size: 1.95rem;
    }
}



/*.description-s {
    .img__description {
        max-width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.31;
        letter-spacing: -0.002em;
        @include breakpoint($mid-bp) {
            font-size: 1.5rem;
        }
        @include breakpoint($sm-bp) {
            font-size: 1.4rem;
        }
    }
}*/

.block-s {
    //padding-right: 8rem;
    padding-right: 80px;
    @include breakpoint($mid-bp) {
        //padding-right: 5.5rem;
        padding-right: 55px;
    }
    @include breakpoint($sm-bp) {
        padding-right: 0;
        width: 100%;
        //margin-top: 6rem;
        margin-top: 60px;
    }
    @include breakpoint($tel-bp) {
        //padding-right: 2.8rem;
        padding-right: 20px;
    }

    &:nth-child(1) {
        margin-top: 0;
    }

    .text-normal{
        @include breakpoint($xxl-bp) {
            //padding-right: 5rem;
            padding-right: 50px;
        }
        @include breakpoint($mid-bp) {
            //padding-right: 4rem;
            padding-right: 40px;
        }
        @include breakpoint($sm-bp) {
            //margin-top: 2.2rem;
            margin-top: 22px;
        }
        @include breakpoint($tel-bp) {
            padding-right: 0px;
        }
    }

    & > * {
        width: 100%;
    }
}

.bottom-text {
    .text-wrap__vertical {
        //margin-top: 4rem;
        margin-top: 40px;
        @include breakpoint($sm-bp) {
            //margin-top: 3.1rem;
            margin-top: 31px;
        }
    }
}

.horizontal {
    @include breakpoint($sm-bp) {
        flex-wrap: wrap;
    }
    .block-s {
        @include breakpoint($sm-bp) {
            width: 100%;
            padding-right: 0;
            //margin-top: 6rem;
            margin-top: 60px;
        }

        &:nth-child(1) {
            margin-top: 0;
        }
    }
}

.section-slider {
    max-width: 100%;
    //margin-top: 23rem;
    margin-top: 230px;
    position: relative;
    @include breakpoint($xxl-bp) {
        //margin-top: 19.5rem;
        margin-top: 195px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 56px;
    }

    .subtitle {
        padding-right: 0;
        @include breakpoint($tel-bp) {
            width: 70%;
        }
    }

    .text-wrap {
            //padding-left: 5rem;
            //padding-right: 5rem;
            padding-left: 50px;
            padding-right: 50px;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 6.2rem;
            padding-left: 42px;
            padding-right: 62px;
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px;   
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px; 
        }
    }

    .swiper-container {
        //margin-top: 9.5rem;
        margin-top: 50px;
        width: 100%;
        //padding-top: 5rem;
        padding-top: 50px;
        //padding-left: 5rem;
        //padding-right: 5rem;
        padding-left: 50px;
        padding-right: 50px;
        overflow-x: hidden;
        @include breakpoint($xxl-bp) {
            //padding-left: 4.2rem;
            //padding-right: 4.2rem;
            padding-left: 42px;
            padding-right: 42px; 
            margin-top: 42px;   
        }
        @include breakpoint($mid-bp) {
            //padding-left: 3.8rem;
            //padding-right: 3.8rem;
            padding-left: 38px;
            padding-right: 38px;  
            //margin-top: 3.9rem;
            margin-top: 33px;
        }
        @include breakpoint($sm-bp) {
            //padding-left: 2.4rem;
            //padding-right: 2.4rem;
            padding-left: 24px;
            padding-right: 24px; 
            padding-top: 40px;
            margin-top: 0;
        }
        @include breakpoint($tel-bp) {
            //margin-top: 5.8rem;
            padding-left: 20px;
            padding-right: 20px; 
            padding-top: 34px;   
        }
    }

    .swiper-button-next, .swiper-button-prev {
        //top: 2.4rem;
        top: 24px;
        border-radius: 100%;
        box-shadow: unset;
        outline: none;
        //width: 5rem;
        width: 50px;
        //height: 5rem;
        height: 50px;
        -webkit-tap-highlight-color:  transparent;
        transition: transform .6s ease-in-out;
        @include breakpoint($sm-bp) {
            display: none;
        }

        &::after {
            color: $black;
            font-size: 18px;
            //font-size: 1.8rem;
            @include breakpoint($xxl-bp) {
                //font-size: 1.5rem;
                font-size: 15px;
            }
            @include breakpoint($sm-bp) {
                //font-size: 2rem;
                font-size: 20px;
            }
            @include breakpoint($tel-bp) {
                //font-size: 3rem;
            }
        }

        &:hover,
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    .swiper-button-next{
        &:active {
            animation: arrR .6s 0s ease-out;
        }
    }
    .swiper-button-prev{
        &:active {
            animation: arrL .6s 0s ease-out;
        }
    }

    @keyframes arrR {
        0% {
            transform: translateX(0);
        }
        50% {
            //transform: translateX(.5rem);
            transform: translateX(5px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes arrL {
        0% {
            transform: translateX(0);
        }
        50% {
            //transform: translateX(-.5rem);
            transform: translateX(-5px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .swiper-button-next {
        //right: 10.5rem;
        right: 105px;
        @include breakpoint($xxl-bp) {
            //right: 4.2rem;
            right: 42px;
        }
        @include breakpoint($mid-bp) {
            //right: 3.8rem;
            right: 38px;
        }
        @include breakpoint($sm-bp) {
            //right: 2.4rem;
            right: 24px;
        }
        @include breakpoint($tel-bp) {
            //right: 2.8rem;
        }
    }

    .swiper-button-prev {
        left: unset;
        //right: 17rem;
        right: 170px;
        @include breakpoint($xxl-bp) {
            //right: 10rem;
            right: 100px;
        }
        @include breakpoint($mid-bp) {
            //right: 9rem;
            right: 90px;
        }
        @include breakpoint($sm-bp) {
            //right: 7rem;
            right: 70px;
        }
    }

    .swiper-wrapper {
        //height: 36rem;
        height: 360px;
        width: 100%;
        @include breakpoint($xxl-bp) {
            //height: 28rem;
            height: 280px;
        }
        @include breakpoint($mid-bp) {
            //height: 23.5rem;
            height: 235px;
        }
        @include breakpoint($sm-bp) {
            //height: 24rem;
            height: 240px;
        }
        @include breakpoint($tel-bp) {
            //height: 34rem;
        }
    }

    .swiper-slide {
        height: 100%;
        overflow: hidden;
        max-width: max-content;

        picture {
            height: 100%;
        }

        img {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.swiper-fr {
    display: flex;
    justify-content: flex-end;
    //font-size: 1.7rem;
    font-size: 17px;
    line-height: 1.34;
    font-weight: 400;
    @include breakpoint($xxl-bp) {
        //font-size: 1.6rem;
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        //font-size: 1.5rem;
        font-size: 15px;
    }
    @include breakpoint($tel-bp) {
        width: 30%;
        //font-size: 1.9rem;
    }
}

.preloader__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    //padding-left: 3rem;
    padding-left: 30px;
    //padding-bottom: 10rem;
    padding-bottom: 100px;

    & > img {
        //width: 34rem;
        width: 340px;
        @include breakpoint($mid-bp) {
            //width: 28rem;
            width: 280px;
        }
    }
}

.preloader {
    color: $black;
    font-weight: bold;
    position: relative;
    //margin-left: 1.8rem;
    margin-left: 18px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        //height: 6.5rem;
        height: 65px;
        width: 1px;
        background: $black;
        left: 0;
        //top: -1rem;
        top: -10px
    }
    
    .preloader__container {
        //height: 5rem;
        height: 50px;
        overflow: hidden;

        div {
            //height: 9rem;
            height: 90px;
            display: flex;
            align-items: flex-start;
        }

        span {
            color:$black;
            //padding: .4rem 2.6rem;
            padding: 4px 26px;
            //height: 4.5rem;
            height: 45px;
            display: flex;
            align-items: center;
            font-size: 21px;
            //font-size: 2.1rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0em;
            text-align: left;
            @include breakpoint($mid-bp) {
                //font-size: 1.9rem;
                font-size: 19px;
                //padding: .4rem 2rem;
                padding: 4px 20px;
            }
            @include breakpoint($sm-bp) {
                //font-size: 1.6rem;
                font-size: 16px;
                //padding: .2rem 1.5rem;
                padding: 2px 15px;
            }
        }

        div:first-child {
            animation: show 5s linear infinite;
        }
    }
  
    /*@keyframes show {
        0% {margin-top:9rem;}
        7% {margin-top:-0rem;}
        25% {margin-top:-0rem;}
        32% {margin-top:-9rem;}
        50% {margin-top:-9rem;}
        57% {margin-top:-18rem;}
        75% {margin-top:-18rem;}
        85% {margin-top:-27rem;}
        95% {margin-top:-27rem;}
        99.99% {margin-top:-31rem;}
        100% {margin-top:-0rem;}
    }*/  
    @keyframes show {
        0% {margin-top:90px;}
        7% {margin-top:-0;}
        25% {margin-top:-0;}
        32% {margin-top:-90px;}
        50% {margin-top:-90px;}
        57% {margin-top:-180px;}
        75% {margin-top:-180px;}
        85% {margin-top:-270px;}
        95% {margin-top:-270px;}
        99.99% {margin-top:-310px;}
        100% {margin-top:-0;}
    }
}
  