body {
    max-height: 100vh;
    overflow: hidden;
    main::before {
        content: "";
        width: calc(100% - 300px);
        left: 300px;
        height: 100%;
        position: fixed;
        background: rgb(0, 0, 0, 0);
        z-index: -1;
        visibility: hidden;
        transition: background .5s;
        @include breakpoint($xxl-bp) {
            width: calc(100% - 280px);
            left: 280px;
        }
        @include breakpoint($mid-bp) {
            width: 100%;
            left: 0;
        }
    }
}

.menu-open {
    main::before {
        content: "";
        background: rgb(0, 0, 0, .25);
        z-index: 2;
        visibility: visible;
    }
}

main {
    display: flex;
    opacity: 0;
    transition: opacity .4s;
    width: 100%;
    font-family: "Graphik";
    background: #F7F7FA;
}

main.start {
    display: block;
    opacity: 1;
}

.ready {
    max-height: unset;
    overflow: unset;
    main {
        opacity: 1;
    }
    .preloader__wrapper {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.content {
    padding: 0;
    flex-grow: 1;
    max-width: calc(100% - 300px);
    padding-bottom: 150px;
    @include breakpoint($xxl-bp) {
        max-width: calc(100% - 280px);
        padding-bottom: 140px;
    }
    @include breakpoint($mid-bp) {
        max-width: 100%;
        min-width: 100%;
        padding-bottom: 110px;
        position: relative;
    }
    @include breakpoint($sm-bp) {
        padding-bottom: 100px;
    }
    @include breakpoint($tel-bp) {
        padding-bottom: 60px;
    }
}

.title {
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    margin: 11px 0 0;
    color: $black;
    margin-left: 50px;
    margin-right: 50px;
    @include breakpoint($xxl-bp) {
        margin-left: 42px;
        margin-right: 42px;    
        font-size: 46px;
    }
    @include breakpoint($mid-bp) {
        margin-left: 38px;
        margin-right: 38px;    
        font-size: 44px;
    }
    @include breakpoint($sm-bp) {
        margin-left: 24px;
        margin-right: 24px;    
        font-size: 38px;
    }
    @include breakpoint($tel-bp) {
        margin-left: 20px;
        margin-right: 20px;    
        font-size: 26px;
    }
}

.breadcrumb {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($xxl-bp) {
        margin-left: 42px;
        margin-right: 42px;   
        font-size: 13px;
    }
    @include breakpoint($mid-bp) {
        margin-left: 38px;
        margin-right: 38px; 
        font-size: 12px;
    }
    @include breakpoint($sm-bp) {
        font-size: 11px;
        margin-left: 24px;
        margin-right: 24px; 
    }
    @include breakpoint($tel-bp) {
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px; 
    }

    li {
        max-width: max-content;
        margin-left: 10px;
        margin-bottom: 3px;
        list-style: none;
        &:nth-child(1) {
            margin-left: 0;
        }

        &::after {
            content: "/";
            margin-left: 1px;
            color: $black;
            opacity: .4;
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        opacity: .4;
    }
}

.intro {
    padding: 120px 0 0;
    @include breakpoint($mid-bp) {
        padding-top: 90px;
    }
    @include breakpoint($sm-bp) {
        padding-top: 70px;
    }
    @include breakpoint($tel-bp) {
        padding-top: 60px;
    }
}


.intro__img {
    background: rgb(0, 238, 255);
    width: 100%;
    height: auto;
    margin-top: 34px;
    @include breakpoint($mid-bp) {
        margin-top: 21px;
    }
    @include breakpoint($tel-bp) {
        margin-top: 20px;
    }


    .video {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint($xxl-bp) {
        margin-top: 50px;
    }
    @include breakpoint($mid-bp) {
        margin-top: 40px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
    }

    & > * {
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 0;
        padding-right: 0;
        max-width: calc(100% - 100px);
        @include breakpoint($xxl-bp) {
            margin-left: 42px;
            margin-right: 42px;  
            max-width: calc(100% - 84px);
        }
        @include breakpoint($mid-bp) {
            margin-left: 38px;
            margin-right: 38px;
            max-width: calc(100% - 76px);
        }
        @include breakpoint($sm-bp) {
            margin-left: 24px;
            margin-right: 24px;
            max-width: calc(100% - 48px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
            max-width: calc(100% - 40px);
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
        }

        .img__description {
            @include breakpoint($tel-bp) {
                margin-left: 20px;
                margin-right: 20px;  
            }
        }
    }
}

.section-horizontal {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    @include breakpoint($xxl-bp) {
        margin-top: 50px;
    }
    @include breakpoint($mid-bp) {
        margin-top: 40px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 30px;
    }
    @include breakpoint($tel-bp) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 90px;
    }

    & > * {
        margin-left: 50px;
        margin-right: 50px;
        max-width: calc(100% - 100px);
        @include breakpoint($xxl-bp) {
            margin-left: 42px;
            margin-right: 42px;  
            max-width: calc(100% - 84px);
        }
        @include breakpoint($mid-bp) {
            margin-left: 38px;
            margin-right: 38px; 
            max-width: calc(100% - 76px);
        }
        @include breakpoint($sm-bp) {
            margin-left: 24px;
            margin-right: 24px;  
            max-width: calc(100% - 48px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px;  
            max-width: calc(100% - 40px);
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
        }

        .img__description {
            @include breakpoint($tel-bp) {
                margin-left: 20px;
                margin-right: 20px;  
            }
        }
    }
}

.section-vertical {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(100% - 100px);
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        margin-top: 50px;
        margin-left: 42px;
        margin-right: 42px;  
        max-width: calc(100% - 84px); 
    }
    @include breakpoint($mid-bp) {
        margin-top: 40px;
        margin-left: 38px;
        margin-right: 38px; 
        max-width: calc(100% - 76px); 
    }
    @include breakpoint($sm-bp) {
        margin-top: 50px;
        margin-left: 24px;
        margin-right: 24px;  
        max-width: calc(100% - 48px);
        flex-wrap: wrap;
    }
    @include breakpoint($tel-bp) {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        flex-direction: column;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
    }

    & > * {
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            width: calc(50% - 10px);
        }
        @include breakpoint($mid-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
            width: 100%;
        }    
    }

    & > .section__img {
        margin-top: 0;
        width: calc(50% - 40px);
    }
}

.section-vertical.narrow.vertical__text-img {
    @include breakpoint($sm-bp) {
        flex-direction: column;
    }
    & > div {
        @include breakpoint($mid-bp) {
            width: calc(50% - 5px);
            margin-right: 0;
            padding-right: 50px;
        } 
        @include breakpoint($sm-bp) {
            width: 100%;
            margin-right: 0;
            padding-right: 0;
        } 
        @include breakpoint($tel-bp) {
            margin-left: 0;
            max-width: 100%;
        } 
        
        .text-wrap__vertical {
            @include breakpoint($tel-bp) {
                margin-left: 20px;
                margin-right: 20px;
                max-width: calc(100% - 40px);
            }
        }
    }

    .section__img {
        @include breakpoint($sm-bp) {
            margin-top: 60px;
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            margin-top: 40px;
            margin-left: 0;
            margin-right: 0;
        }
        .img__description {
            @include breakpoint($tel-bp) {
                margin-left: 20px;
                margin-right: 20px;    
            }
        }

        &:nth-child(1) {
            @include breakpoint($tel-bp) {
                margin-top: 40px;
            }
        }
    }
}

.text-second {
        .blocks:nth-child(1) {
            order: 2;
            .text-normal {
                @include breakpoint($mid-bp) {
                    margin-right: 0;
                }
            }
        }
        .blocks:nth-child(2) {
            order: 1;
        }
    @include breakpoint($sm-bp) {
        .blocks:nth-child(1) {
            order: 1;
        }
        .blocks:nth-child(2) {
            order: 2;
        }
    }
}

.section-vertical.narrow {
    & > div {
        width: calc(50% - 120px);
        margin-right: 80px;
        @include breakpoint($xxl-bp) {
            width: calc(50% - 70px);
            margin-right: 70px;
        }
        @include breakpoint($mid-bp) {
            width: calc(50% - 10px);
            margin-right: 0;
        }
        @include breakpoint($tel-bp) {
            max-width: calc(100% - 40px);
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;   
        }
    }

    & > .section__img {
        margin-top: 0;
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px;   
            margin-top: 15px;
        }

        &:nth-child(1) {
            @include breakpoint($tel-bp) {
                margin-top: 0;
            }
        }
    }

    & > *:nth-child(2).text-wrap__vertical {
        margin-right: 160px;
        @include breakpoint($xxl-bp) {
            margin-right: 80px;
        }
        @include breakpoint($mid-bp) {
            margin-right: 0;
        }
    }

    .text-normal {
        @include breakpoint($xxl-bp) {
            margin-right: 60px;
            max-width: calc(100% - 60px);
        }
        @include breakpoint($mid-bp) {
            margin-right: 40px;
            max-width: calc(100% - 40px);
        }
        @include breakpoint($sm-bp) {
            margin-right: 90px;
        }
        @include breakpoint($sm-bp) {
            margin-right: 0;
        }
        @include breakpoint($tel-bp) {
            max-width: 100%;
        }
    }

    .hidden-img__wrap {
        @include breakpoint($xxl-bp) {
            margin-right: 40px;
        }
        @include breakpoint($mid-bp) {
            margin-right: 0;
        }
    }

    .img-s {
        img {
            margin-right: 180px;
            @include breakpoint($xxl-bp) {
                margin-right: 0;
            }
        }
        .img__description {
            margin-right: 180px;
            @include breakpoint($xxl-bp) {
                margin-right: 0;
            }
        }
        .text-wrap__vertical {
            margin-right: 0;
            margin-bottom: 140px;
            @include breakpoint($mid-bp) {
                margin-bottom: 0;
            }
        }
    }
}

.section.img-centered {
    .section__img {
        margin-left: 230px;
        margin-right: 230px;
        max-width: calc(100% - 460px);
        @include breakpoint($xxl-bp) {
            margin-left: 42px;
            margin-right: 42px; 
            max-width: calc(100% - 84px);
        }
        @include breakpoint($mid-bp) {
            margin-left: 38px;
            margin-right: 38px; 
            max-width: calc(100% - 76px);
        }
        @include breakpoint($sm-bp) {
            margin-left: 24px;
            margin-right: 24px; 
            max-width: calc(100% - 48px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
            max-width: calc(100% - 40px);
        }
    }
}

.img-centered.small {
    .section__img {
        margin-left: 280px;
        margin-right: 280px;
        max-width: calc(100% - 560px);
        @include breakpoint($xxl-bp) {
            margin-left: 42px;
            margin-right: 42px;
            max-width: calc(100% - 84px);
        }
        @include breakpoint($mid-bp) {
            margin-left: 38px;
            margin-right: 38px; 
            max-width: calc(100% - 76px);
        }
        @include breakpoint($sm-bp) {
            margin-left: 24px;
            margin-right: 24px; 
            max-width: calc(100% - 48px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px;
            max-width: calc(100% - 40px);
        }

        .img__description {
            @include breakpoint($tel-bp) {
                margin-left: 0;
                margin-right: 0;    
            }
        }
    }
}

.text-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;

    & > * {
        width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }
}

.horizontal__text-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    @include breakpoint($sm-bp) {
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 90px;
        max-width: calc(100% - 90px);
    }
    @include breakpoint($tel-bp) {
        margin-right: 20px;
        max-width: calc(100% - 40px);
    }
    
    & > * {
        width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .text-normal {
        @include breakpoint($sm-bp) {
            margin-top: 25px;
            margin-right: 0;
            max-width: 100%;    
            padding-right: 80px;
        }
        @include breakpoint($tel-bp) {
            margin-top: 22px;
            margin-right: 0;
            padding-right: 0;
        }
    }

    .subtitle {
        @include breakpoint($xxl-bp) {
            margin-right: 40px;
            max-width: calc(50% - 40px);    
        }
        @include breakpoint($sm-bp) {
            margin-right: 0;
            max-width: 100%;    
            padding-right: 80px;
        }
        @include breakpoint($tel-bp) {
            padding-right: 0;
        }
    }
}

.text-wrap__vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        max-width: 45vw;
    }
    & > * {
        width: 100%;
    }
    .text-normal {
        margin-top: 36px;
        max-width: 100%;
        margin-right: 0;
        @include breakpoint($xxl-bp) {
            margin-top: 29px;
            margin-right: 30px;
            max-width: calc(100% - 30px);
        }
        @include breakpoint($tel-bp) {
            margin-top: 22px;
            margin-right: 0;
            max-width: 100%;
        }
    }
}

.subtitle {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: 0em;
    text-align: left;
    color: $black-text;
    @include breakpoint($xxl-bp) {
        font-size: 17px;
        box-sizing: border-box;
    }
    @include breakpoint($mid-bp) {
        line-height: 1.02;
    }
    @include breakpoint($sm-bp) {
        font-size: 16px;
    }
    @include breakpoint($tel-bp) {
    }
}

.text-normal {
    margin-right: 80px;
    color: $black-text;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    box-sizing: border-box;
    max-width: calc(50% - 120px);
    @include breakpoint($xxl-bp) {
        font-size: 16px;
        max-width: calc(50% - 40px);
        margin-right: 40px;   
    }
    @include breakpoint($mid-bp) {
        font-size: 15px;
        line-height: 1.27;
    }
    @include breakpoint($sm-bp) {
        font-size: 14px;
        line-height: 1.3;
    }
    @include breakpoint($tel-bp) {
        margin-right: 0;
    }

    & * {
        margin-top: 1rem;

        &:nth-child(1) {
            margin-top: 0;
        }
    }
    ul,
    ol {
        margin-left: 1em;
    }
}

.section__img {
    width: 100%;
    height: auto;
    margin-top: 80px;
    background: rgb(0, 238, 255);
    @include breakpoint($xxl-bp) {
        margin-top: 70px;
    }
    @include breakpoint($mid-bp) {
        margin-top: 60px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 40px;
    }
    @include breakpoint($tel-bp) {
        margin-top: 40px;
    }

    video {
        width: 100%;
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.video-in {
    display: grid;

    video {
        width: 100%;
        height: auto;
        grid-row: 1/1;
        grid-column: 1/1;
        z-index: 2;
    }

    picture {
        grid-row: 1/1;
        grid-column: 1/1;
        z-index: 1;
    }
}

.colors {
    .colors__block {
        margin-top: 40px;
        width: 100%;
        height: 600px;
        display: flex;
        @include breakpoint($xxl-bp) {
            height: 540px;
        }
        @include breakpoint($mid-bp) {
            height: 400px;
        }
        @include breakpoint($tel-bp) {
            height: 300px;
            margin-top: 40px;
        }
    }
}

.colors__el {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 43px;
    padding-bottom: 47px;
    width: 100%;
    transition: max-width .4s;
    overflow: hidden;
    @include breakpoint($xxl-bp) {
        padding-left: 36px;
        padding-bottom: 37px;
    }
    @include breakpoint($mid-bp) {
        padding-left: 33px;
        padding-bottom: 36px;
    }
    @include breakpoint($sm-bp) {
        padding-left: 28px;
        padding-bottom: 32px;
    }
    @include breakpoint($tel-bp) {
        padding-left: 26px;
        padding-bottom: 27px;
    }
}

.colors__el.active {
    .colors__info {
        opacity: 1;
        visibility: visible;
    }

    .colors__el_name {
        opacity: 1;
        visibility: visible;
    }
}

.colors__block[data-num] {
    .colors__el {
        max-width: calc(50% / calc(var(--len) - 1));
        @include breakpoint($sm-bp) {
            max-width: calc(30% / calc(var(--len) - 1));
        }
    }
    .colors__el.active {
        max-width: 50%;
        @include breakpoint($sm-bp) {
            max-width: 70%;
        }
    }
}

.colors__block[data-num="1"] {
    .colors__el {
        max-width: 100%;
        @include breakpoint($sm-bp) {
            max-width: 100%;
        }
    }
    .colors__el.active {
        max-width: 100%;
        @include breakpoint($sm-bp) {
            max-width: 100%;
        }
    }
}

.colors__block[data-num="2"] {
    .colors__el {
        max-width: 25%;
        @include breakpoint($sm-bp) {
            max-width: 25%;
        }
    }
    .colors__el.active {
        max-width: 75%;
        @include breakpoint($sm-bp) {
            max-width: 75%;
        }
    }
}

.colors__block[data-num="3"] {
    .colors__el {
        max-width: 25%;
        @include breakpoint($sm-bp) {
            max-width: 15%;
        }
    }
    .colors__el.active {
        max-width: 50%;
        @include breakpoint($sm-bp) {
            max-width: 70%;
        }
    }
}


.colors__el_name {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    opacity: 0;
    visibility: hidden;
    max-width: 80%;
}


.colors__info {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    opacity: 0;
    visibility: hidden;
    min-width: max-content;
    @include breakpoint($xxl-bp) {
        font-size: 14px;
    }
    @include breakpoint($mid-bp) {
        font-size: 13px;
    }
    @include breakpoint($sm-bp) {
        font-size: 12px;
    }
    @include breakpoint($tel-bp) {
        font-size: 11px;
    }

    a {
        display: block;
        text-decoration: none;
        color: black;

        &:hover {
            span:nth-last-child(1) {
                text-decoration: underline;
            }
        }
        &:focus,
        &:active {
            outline: none;
        }
    }

    span {
        display: inline-block;
        min-width: 6.9em;
        margin-top: 10px;
        @include breakpoint($xxl-bp) {
            min-width: 7em;
        }
        @include breakpoint($mid-bp) {
        }
        @include breakpoint($sm-bp) {
            min-width: 7em;
        }
        @include breakpoint($tel-bp) {
            min-width: 6.5em;
        }
    }
}

.dark {
    .colors__info {
        a {
            color: white;
        }
    }
}

.double-img {
    .section__img {

        &:last-child {
            margin-top: 40px;
            @include breakpoint($xxl-bp) {
                margin-top: 20px;
            }
            @include breakpoint($sm-bp) {
                margin-top: 15px;
            }
        }
    }
}

/*.m-15 {
    //margin-top: 15rem;
    margin-top: 140px;
    @include breakpoint($xxl-bp) {
        //margin-top: 14rem;
        margin-top: 140px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 90px;
    }
}*/

/*.m-23 {
    //margin-top: 23rem;
    margin-top: 220px;
    @include breakpoint($xxl-bp) {
        //margin-top: 20rem;
        margin-top: 200px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 56px;
    }
}*/

/*.m-21 {
    //margin-top: 21rem;
    margin-top: 160px;
    @include breakpoint($xxl-bp) {
        //margin-top: 18rem;
        margin-top: 180px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 60px;
    }
}*/

.full-size-desktop {
    margin-left: 0;
    margin-right: 0;

    & > .section__img {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        @include breakpoint($mid-bp) {
            margin-left: 38px;
            margin-right: 38px;  
            max-width: calc(100% - 76px);
        }
        @include breakpoint($sm-bp) {
            margin-left: 24px;
            margin-right: 24px;
            max-width: calc(100% - 48px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px;   
            max-width: calc(100% - 40px);
        }

        .img__description {
            margin-left: 50px;
            margin-right: 50px; 
            @include breakpoint($mid-bp) {
                margin-left: 0;
                margin-right: 0;        
            }   
        }
    }

    & > .section__img {
        @include breakpoint($tel-bp) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.section.full-size {
    .section__img {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;

        .img__description {
            margin-left: 50px;
            margin-right: 50px;
            @include breakpoint($tel-bp) {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
}

/*.section.m-20 {
    //margin-top: 19.5rem;
    margin-top: 200px;
    @include breakpoint($xxl-bp) {
        //margin-top: 19rem;
        margin-top: 190px;
    }
    @include breakpoint($mid-bp) {
        //margin-top: 17rem;
        margin-top: 130px;
    }
    @include breakpoint($sm-bp) {
        //margin-top: 13rem;
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        //margin-top: 11rem;
        margin-top: 86px;
    }
}*/

.section.revers {
    flex-direction: row-reverse;
}

.two-pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include breakpoint($tel-bp) {
        flex-direction: column;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
    }

    & > * {
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            width: calc(50% - 10px);
        }
        @include breakpoint($tel-bp) {
            width: 100%;
            margin-top: 14px;

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    .description-s .img__description {
        @include breakpoint($xxl-bp) {
            max-width: calc(100% - 60px);
        }
        @include breakpoint($mid-bp) {
            max-width: 100%;
        }
    }
}

.horizontal__text-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @include breakpoint($mid-bp) {
        flex-direction: column;
    }
    @include breakpoint($tel-bp) {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .text-wrap__vertical {
        @include breakpoint($xxl-bp) {
            max-width: unset;
        }
        @include breakpoint($mid-bp) {
            flex-direction: row;
        }
        @include breakpoint($sm-bp) {
            flex-direction: column;
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
            max-width: calc(100% - 40px);
        }
        
        & > * {
            @include breakpoint($mid-bp) {
                width: 50%;
            }
            @include breakpoint($sm-bp) {
                width: 100%;
            }
        }
    }

    .section__img {
        @include breakpoint($mid-bp) {
            margin-top: 60px;
        }
        @include breakpoint($sm-bp) {
            margin-top: 40px;
        }
        @include breakpoint($tel-bp) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 40px;
            max-width: 100%;
        }
    }

    .text-normal {
        margin-right: 0;
        padding-right: 90px;
        max-width: unset;
        @include breakpoint($mid-bp) {
            margin-top: 0;
            margin-right: 0;
            width: 50%;
            padding-right: 40px;
        }
        @include breakpoint($sm-bp) {
            margin-top: 22px;
            width: 100%;
            padding-right: 80px;
        }
        @include breakpoint($tel-bp) {
            margin-top: 22px;
            margin-right: 0;
            padding-right: 0;
        }
    }

    & > * {
        width: calc(50% - 40px);
        margin-top: 0;
        @include breakpoint($xxl-bp) {
            width: calc(50% - 10px);
        }
        @include breakpoint($mid-bp) {
            width: 100%;
        }    
    }
}

.img-m-14 {
    img {
        margin-top: 140px;
    }
}

.img-full {
    img {
        width: 100%;
    }
}


.horizontal__text-img ~ .section__img {
    @include breakpoint($mid-bp) {
        margin-top: 16px;
    }
    @include breakpoint($tel-bp) {
        margin-top: 10px;
        max-width: 100%;
    }
}

.blocks {
    .section__img {
        margin-top: 0;
    }
}

.hide-1024,
.hide-1024.narrow {

    & > * {
        @include breakpoint($mid-bp) {
            width: 100%;
        }
    }

    .blocks:first-child {
        margin-right: 130px;
        width: calc(50% - 170px);
        @include breakpoint($xxl-bp) {
            margin-right: 110px;
            width: calc(50% - 110px);
        }
        @include breakpoint($mid-bp) {
            margin-right: 0;
            width: 100%;
        }
        @include breakpoint($tel-bp) {
            margin-right: 20px;
            width: calc(100% - 40px);
        }

        .hidden-img__wrap {
            margin-right: 130px;
            margin-top: 135px;
            @include breakpoint($xxl-bp) {
                margin-right: 0;
            }
            @include breakpoint($mid-bp) {
                margin-top: 0;
            }
            @include breakpoint($tel-bp) {
                margin-top: 21px;
                box-sizing: border-box;
            }
        }
    }

    .hide {
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.img-left-small {
    .blocks:nth-last-child(1) {
        @include breakpoint($tel-bp) {
            margin-top: 14px;            
        }
    }
    .blocks:first-child {
        box-sizing: border-box;
        max-width: calc(100% - 130px);
        margin-right: 0;
        @include breakpoint($xxl-bp) {
            max-width: calc(100% - 70px);
        }
        @include breakpoint($mid-bp) {
            max-width: calc(50% - 10px);
            margin-right: 0;
        }
        @include breakpoint($tel-bp) {
            width: 100%;
            max-width: calc(100% - 40px);
        }

        .section__img {
            max-width: calc(100% - 180px);
            margin-right: 0;
            @include breakpoint($xxl-bp) {
                margin-right: 0;
                max-width: 100%;
            }
            @include breakpoint($mid-bp) {
                width: 100%;
            }
        }

        .text-normal {
            @include breakpoint($mid-bp) {
                margin-right: 10px;
            }
            @include breakpoint($tel-bp) {
                margin-right: 0px;
            }    
        }
        
    }
}

.block-sm {
    margin-right: 130px;
    @include breakpoint($xxl-bp) {
        margin-right: 110px;
    }

    .hidden-img__wrap {
        margin-right: 130px;
        margin-top: 135px;
        @include breakpoint($xxl-bp) {
            margin-right: 0;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0;
        }
        @include breakpoint($tel-bp) {
            margin-top: 21px;
            box-sizing: border-box;
        }
    }
}

.block-sm.section__img {
    margin-top: 0;
}


.hidden-img__wrap {
    @include breakpoint($mid-bp) {
        display: flex;
        justify-content: space-between;

        & > * {
            width: calc(50% - 10px);
        }
    }
    @include breakpoint($tel-bp) {
        flex-direction: column;
        margin-top: 14px;

        & > * {
            width: 100%;
        }
    }

    img {
        @include breakpoint($mid-bp) {
            width: 100%;
            padding-top: 60px;
        }
        @include breakpoint($sm-bp) {
            padding-top: 50px;
        }
        @include breakpoint($tel-bp) {
            padding-top: 14px;
        }
    }
}

.hidden-img {
    display: none;

    @include breakpoint($mid-bp) {
        display: block;
    }
}

.single-text {
    .text-wrap__vertical {
        max-width: calc(50% - 40px);
        @include breakpoint($xxl-bp) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: unset;
        }
        @include breakpoint($mid-bp) {
            flex-direction: row;
            width: 100%;
            max-width: unset;
        }
        @include breakpoint($sm-bp) {
            flex-direction: column;
        }  
        
        & > * {
            @include breakpoint($xxl-bp) {
                width: calc(50% - 10px);
                margin-top: 0;
            }    
        }
    }

    .subtitle {
        @include breakpoint($mid-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .text-normal {
        @include breakpoint($xxl-bp) {
            margin-right: 10px;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0;
            width: 50%;
            margin-right: 30px;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
            margin-top: 25px;
        }
        @include breakpoint($tel-bp) {
            margin-right: 0;
            margin-top: 22px;
        }
    }

    .section__img {
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
    
            .img__description {
                margin-left: 0;
                margin-right: 0;
            }    
        }
    }
}

.section-link {
    margin-top: 60px;
    @include breakpoint($xxl-bp) {
        margin-top: 50px;
    }
    @include breakpoint($mid-bp) {
        margin-top: 40px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
    }

    .link-block {
        display: block;
        width: calc(100% - 100px);
        border-bottom: 2px dotted rgb(12, 12, 12, .3);
        padding-bottom: 44px;
        margin-left: 0;
        margin-right: 0;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
        margin-top: 60px;
        @include breakpoint($xxl-bp) {
            margin-left: 42px;
            margin-right: 42px;  
            width: calc(100% - 84px);
            margin-top: 50px;
        }
        @include breakpoint($mid-bp) {
            margin-top: 40px;
        }
        @include breakpoint($sm-bp) {
            margin-left: 0;
            margin-right: 0;
            margin-top: 50px;
            width: 100%;
            padding-left: 24px;   
            padding-right: 24px;   
        }
        @include breakpoint($tel-bp) {
            margin-top: 60px;
            padding-bottom: 24px;
            padding-left: 20px;
            padding-right: 20px; 
        }
    }
}

.link {
    border: 1px solid black;
    display: flex;
    align-items: center;
    max-width: max-content;
    border-radius: 200px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 17px 25px;
    box-sizing: border-box;
    transition: .4s;
    @include breakpoint($xxl-bp) {
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        font-size: 15px;
    }
    @include breakpoint($sm-bp) {
        font-size: 14px;
        margin-right: 23px;
        margin-bottom: 15px;
    }
    @include breakpoint($tel-bp) {
        padding: 14px 25px;
    }
    &:hover {
        color: white;
        background: black;

        svg {
            path {
                stroke: white;
            }
        }
    }

    svg {
        margin-left: 18px;
        width: 18px;
        height: 18px;
        @include breakpoint($xxl-bp) {
            width: 16px;
            height: 12px;    
        }
        @include breakpoint($mid-bp) {
            margin-left: 17px;
        }  
        @include breakpoint($tel-bp) {
        }  

        path {
            transition: .4s;
        }
    }
}

.big-left {
    @include breakpoint($tel-bp) {
        margin-left: 0;
        margin-right: 0;
    }

    & > .section__img {
        margin-top: 0;
        margin-right: 80px;
        @include breakpoint($xxl-bp) {
            margin-right: 40px;
        }
    }

    & > * {
        width: calc(50% - 40px);
        @include breakpoint($mid-bp) {
            width: calc(50% - 5px);
        }
        @include breakpoint($tel-bp) {
            margin-left: 20px;
            margin-right: 20px; 
        }

        &:nth-child(1) {
            width: calc(50% - 40px);
            @include breakpoint($mid-bp) {
                width: calc(50% - 5px);
            }
            .text-normal {
                @include breakpoint($mid-bp) {
                    max-width: 380px;
                }
                @include breakpoint($sm-bp) {
                    max-width: 90%;
                }
                @include breakpoint($tel-bp) {
                    max-width: 100%;
                }
            }
        }
        &:nth-child(1).section__img {
            margin-right: 120px;
        }
    }    
    
    .section__img {
        @include breakpoint($tel-bp) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.img__description {
    margin-top: 28px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    color: rgb(0, 0, 0, .4);
    @include breakpoint($xxl-bp) {
        margin-top: 24px;
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        font-size: 15px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 20px;
        font-size: 14px;
    }
    @include breakpoint($tel-bp) {
    }
}



/*.description-s {
    .img__description {
        max-width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.31;
        letter-spacing: -0.002em;
        @include breakpoint($mid-bp) {
            font-size: 1.5rem;
        }
        @include breakpoint($sm-bp) {
            font-size: 1.4rem;
        }
    }
}*/

.currentTab {
    color: $black !important;
}

.block-s {
    margin-right: 80px;
    width: calc(50% - 120px);
    @include breakpoint($xxl-bp) {
        margin-right: 70px;
        width: calc(50% - 70px);    
    }
    @include breakpoint($mid-bp) {
        margin-right: 0;
        width: calc(50% - 10px);
        padding-right: 40px;
    }
    @include breakpoint($sm-bp) {
        margin-right: 0;
        width: 100%;
        padding-right: 0;
        margin-top: 60px;
    }
    @include breakpoint($tel-bp) {
        margin-right: 20px;
        max-width: calc(100% - 40px);
    }

    &:nth-child(1) {
        margin-top: 0;
    }

    .text-normal{
        @include breakpoint($xxl-bp) {
            margin-right: 50px;
            max-width: calc(100% - 50px);
        }
        @include breakpoint($mid-bp) {
            margin-right: 0;
            max-width: calc(100% - 40px);
        }
        @include breakpoint($sm-bp) {
            margin-top: 22px;
        }
        @include breakpoint($tel-bp) {
            margin-right: 0px;
            max-width: 100%;
        }
    }

    & > * {
        width: 100%;
    }
}

.bottom-text {

    .block-s {
        display: flex;
        flex-direction: column;
        @include breakpoint($sm-bp) {
            margin-top: 0;
        }

        &:nth-child(2) {
            @include breakpoint($sm-bp) {
                margin-top: 60px;
            }
        }
    }

    .section__img {
        order: 1;
        @include breakpoint($sm-bp) {
            margin-top: 0;
        }
    }

    .text-wrap__vertical {
        order: 2;
        margin-top: 40px;
        @include breakpoint($sm-bp) {
            margin-top: 31px;
        }
    }
}

.horizontal {
    @include breakpoint($sm-bp) {
        flex-wrap: wrap;
    }
    .block-s {
        @include breakpoint($sm-bp) {
            width: 100%;
            margin-right: 0;
            margin-top: 60px;
        }

        &:nth-child(1) {
            margin-top: 0;
        }
    }
}

.section-slider {
    max-width: 100%;
    margin-top: 60px;
    position: relative;
    @include breakpoint($xxl-bp) {
        margin-top: 55px;
    }
    @include breakpoint($mid-bp) {
        margin-top: 40px;
    }
    @include breakpoint($sm-bp) {
        margin-top: 50px;
    }
    @include breakpoint($tel-bp) {
        margin-top: 56px;
    }

    .subtitle {
        margin-right: 0;
        @include breakpoint($tel-bp) {
            width: 70%;
        }
    }

    .text-wrap {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 0;
        margin-right: 0;
        @include breakpoint($xxl-bp) {
            padding-left: 42px;
            padding-right: 62px;
        }
        @include breakpoint($mid-bp) {
            padding-left: 38px;
            padding-right: 38px;  
        }
        @include breakpoint($sm-bp) {
            padding-left: 24px;
            padding-right: 24px; 
        }
    }

    .swiper-container {
        margin-top: 50px;
        width: 100%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        overflow-x: hidden;
        @include breakpoint($xxl-bp) {
            padding-left: 42px;
            padding-right: 42px; 
            margin-top: 42px;   
        }
        @include breakpoint($mid-bp) {
            paddingpadding-left: 38px;
            padding-right: 38px;  
            margin-top: 33px;
        }
        @include breakpoint($sm-bp) {
            padding-left: 24px;
            padding-right: 24px; 
            padding-top: 40px;
            margin-top: 0;
        }
        @include breakpoint($tel-bp) {
            padding-left: 20px;
            padding-right: 20px; 
            padding-top: 34px;  
        }
    }

    .swiper-button-next, .swiper-button-prev {
        top: 24px;
        border-radius: 100%;
        box-shadow: unset;
        outline: none;
        width: 50px;
        height: 50px;
        -webkit-tap-highlight-color:  transparent;
        transition: transform .6s ease-in-out;
        @include breakpoint($sm-bp) {
            display: none;
        }

        &::after {
            color: $black;
            font-size: 18px;
            @include breakpoint($xxl-bp) {
                font-size: 15px;
            }
            @include breakpoint($sm-bp) {
                font-size: 20px;
            }
            @include breakpoint($tel-bp) {
            }
        }

        &:hover,
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    .swiper-button-next{
        &:active {
            animation: arrR .6s 0s ease-out;
        }
    }
    .swiper-button-prev{
        &:active {
            animation: arrL .6s 0s ease-out;
        }
    }

    @keyframes arrR {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes arrL {
        0% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-5px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .swiper-button-next {
        right: 105px;
        @include breakpoint($xxl-bp) {
            right: 42px;
        }
        @include breakpoint($mid-bp) {
            right: 38px;
        }
        @include breakpoint($sm-bp) {
            right: 24px;
        }
        @include breakpoint($tel-bp) {
        }
    }

    .swiper-button-prev {
        left: unset;
        right: 170px;
        @include breakpoint($xxl-bp) {
            right: 100px;
        }
        @include breakpoint($mid-bp) {
            right: 90px;
        }
        @include breakpoint($sm-bp) {
            right: 70px;
        }
    }

    .swiper-wrapper {
        height: 360px;
        width: 100%;
        @include breakpoint($xxl-bp) {
            height: 280px;
        }
        @include breakpoint($mid-bp) {
            height: 235px;
        }
        @include breakpoint($sm-bp) {
            height: 240px;
        }
        @include breakpoint($tel-bp) {
        }
    }

    .swiper-slide {
        height: 100%;
        overflow: hidden;
        max-width: max-content;

        picture {
            height: 100%;
        }

        img {
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.swiper-fr {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    line-height: 1.34;
    font-weight: 400;
    @include breakpoint($xxl-bp) {
        font-size: 16px;
    }
    @include breakpoint($mid-bp) {
        font-size: 15px;
    }
    @include breakpoint($tel-bp) {
        width: 30%;
    }
}

.preloader__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 30px;
    padding-bottom: 100px;
    @include breakpoint($mid-bp) {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    & > img {
        width: 340px;
        @include breakpoint($mid-bp) {
            width: 280px;
        }
        @include breakpoint($sm-bp) {
            width: 140px;
        }
    }
}

.preloader {
    color: $black;
    font-weight: bold;
    position: relative;
    margin-left: 18px;
    @include breakpoint($sm-bp) {
        margin-left: 14px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 65px;
        width: 1px;
        background: $black;
        left: 0;
        top: -10px
    }
    
    .preloader__container {
        height: 50px;
        overflow: hidden;

        div {
            height: 90px;
            display: flex;
            align-items: flex-start;
        }

        span {
            color:$black;
            padding: 4px 26px;
            height: 45px;
            display: flex;
            align-items: center;
            font-size: 21px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0em;
            text-align: left;
            @include breakpoint($mid-bp) {
                font-size: 19px;
                padding: 4px 20px;
            }
            @include breakpoint($sm-bp) {
                font-size: 16px;
                padding: 2px 15px;
            }
        }

        div:first-child {
            animation: show 5s linear infinite;
        }
    }
  

    @keyframes show {
        0% {margin-top:90px;}
        7% {margin-top:-0;}
        25% {margin-top:-0;}
        32% {margin-top:-90px;}
        50% {margin-top:-90px;}
        57% {margin-top:-180px;}
        75% {margin-top:-180px;}
        85% {margin-top:-270px;}
        95% {margin-top:-270px;}
        99.99% {margin-top:-310px;}
        100% {margin-top:-0;}
        
    }
}
  