
.menu {
    background: white;
    width: 300px;
    position: relative;
    padding: 0 0 30px 25px;
    box-sizing: border-box;
    @include breakpoint($xxl-bp) {
        width: 280px;
    }
    @include breakpoint($mid-bp) {
        width: 300px;
        position: fixed;
        z-index: 7;
        left: 0;
        top: 0;
        transform: translateX(-103%);
        transition: transform .4s;
        height: var(--h);
        overflow-y: auto;
    }
    @include breakpoint($tel-bp) {
        max-width: 83%;
        padding-left: 24px;
    }

    a:focus,
    a:active {
        outline: none;
    }
}

.menu__inner {
    position: sticky;
    top: 0;
    padding-top: 30px;
    height: var(--h);
    overflow-y: auto;
    padding-right: 31px;
    scrollbar-width: thin;
    @include breakpoint($xxl-bp) {
        padding-top: 25px;
    }
    @include breakpoint($mid-bp) {
        position: relative;
        padding-top: 20px;
        height: auto;
        overflow: unset;
        padding-right: 25px;
    }
    @include breakpoint($tel-bp) {
        padding-right: 24px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f9f9fd;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #D9D9DF;
      }
      
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
}


.menu.open {
    @include breakpoint($mid-bp) {
        transform: translateX(0);
    }
}

.burger {
    display: none;
    @include breakpoint($mid-bp) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82px;
        height: 64px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        mix-blend-mode: difference;
        svg {
            width: 36px;
            path {
                transition: transform .4s;
            }
        }
    }

    &:hover {
        span:nth-last-child(1) {
            max-width: 28%;
        }

        path:nth-last-child(1) {
            transform: scaleX(.66);
        }
    }
}

.menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.menu__logo {
    width: 136px;
    display: block;

    img {
        width: 100%;
        display: block;
    }
}

.menu__search {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: unset;
    transform-origin: center;
    -webkit-tap-highlight-color:  transparent;
    position: absolute;
    left: 233px;
    @include breakpoint($xxl-bp) {
        left: 211px;
    }
    @include breakpoint($mid-bp) {
        position: relative;
        left: unset;
    }

    &:focus {
        outline: none !important;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }

    svg {
        width: 20px;
        height: 18px;
        transition: transform .4s;
        will-change: transform;
    }
}

.open.menu__search {
    svg {
        display: none;
    }
    width: 10px;
    height: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    transform: rotate(-45deg);
}

.menu__nav {
    margin-top: 55px;
    @include breakpoint($mid-bp) {
        margin-top: 46px;
    }
    @include breakpoint($tel-bp) {
        margin-top: 42px;
    }

    li {
        list-style: none;
    }
}

.nav__item {
    margin-bottom: 42px;
    @include breakpoint($xxl-bp) {
        margin-bottom: 41px;
    }
    @include breakpoint($mid-bp) {
        margin-bottom: 45px;
        &::after {
            opacity: .4;
        }
    }
}

.current.nav__item {
    .nav__link {
        color: #000000;
        opacity: 1;
        &::after {
            transform: translateY(-50%) rotate(45deg);
            opacity: 1;
        }
    }

    .submenu {
        max-height: var(--maxH);
    }
}

.active.nav__item {
    .nav__link {
        color: #000000;
        opacity: 1;
        &::after {
            transform: translateY(-50%) rotate(45deg);
            opacity: 1;
        }
    }

    .submenu {
        max-height: var(--maxH);
    }
}

.current.nav__item {
    .nav__link {
        color: $black;
    }
    .nav__link::after {
        transform: translateY(-50%) rotate(45deg);
        opacity: 1;
    }
}

.nav__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: #898989;
    text-decoration: none;
    transition: color .4s;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    @include breakpoint($xxl-bp) {
        font-size: 15px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        left: 232px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        transition: transform .4s, opacity .4s;
        opacity: 0;
        @include breakpoint($xxl-bp) {
            left: 210px;
        }
        @include breakpoint($mid-bp) {
            left: unset;
            right: 4px;
            opacity: .45;
        }
    }

    &:hover {
        color: $black;
        &::after {
            opacity: 1;
        }
    }
}

.submenu {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s;

    &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 24px;
        @include breakpoint($xxl-bp) {
            height: 21px;
        }
    }
}

.submenu__item {
    a {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.13;
        letter-spacing: 0em;
        text-align: left;
        color: #898989;
        text-decoration: none;
        display: inline-block;
        padding: 10px 14px;
        transition: color .4s;
        cursor: pointer;
        @include breakpoint($xxl-bp) {
            font-size: 14px;
            padding: 10px 10px 12px;
        }
        @include breakpoint($mid-bp) {
            padding: 10px 19px 14px;
        }
        @include breakpoint($tel-bp) {
            padding: 7px 7px 16px 20px;
        }
    
        &:hover {
            color: black;
        }
    }
    .currentTab {
        color: #000000;
    }
}