
.search-field {
    display: none;
    position: fixed;
    left: 30rem;
    top: 0;
    width: calc(100% - 30rem);
    background: #F7F7FA;
    padding-top: 12.5rem;
    padding-bottom: 7rem;
    z-index: 2;
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;
    box-shadow: 0px 1px 23px #0000000a;
    @include breakpoint($xxl-bp) {
        width: calc(100% - 28rem);
        left: 28rem;
        padding-top: 8rem;
        box-shadow: 7px 1px 8px #00000023;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        left: 0;
        padding-top: 12.5rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
    @include breakpoint($tel-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 10rem;
    }
}

.search-result__bold {
    font-weight: 600;
}

.search-field.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 3rem;
    @include breakpoint($xxl-bp) {
        padding-top: 8rem;
    }
    @include breakpoint($mid-bp) {
        padding-bottom: 2.2rem;
    }
}

.search-field__form {
    position: relative;
    width: 100%;
}

.search-result {
    display: none;
    max-height: 41.5rem;
    overflow: hidden;
    @include breakpoint($xxl-bp) {
        max-height: calc(var(--h) * 0.5);
    }
    @include breakpoint($mid-bp) {
        overflow: auto;
        max-height: unset;
    }
}

.search-result__show {
    display: none;
    margin-top: 8rem;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    color: black;
    text-decoration: none;
    max-width: max-content;
    &:hover,
    &:focus,
    &:active {
        outline: none !important;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.search-field__inp {
    width: 100%;
    padding-bottom: .8rem;
    font-size: 4.6rem;
    font-weight: 400;
    line-height: .93;
    letter-spacing: -0.002em;
    text-align: left;
    color: black;
    background: unset;
    outline: none;
    box-shadow: unset;
    border: unset;
    border-bottom: 1.4px solid #2B2B2B;
    @include breakpoint($xxl-bp) {
        font-size: 4.1rem;
    }
    @include breakpoint($mid-bp) {
        font-size: 2.45rem;
        font-weight: 400;
        line-height: .97;
        letter-spacing: -0.002em;
        text-align: left;
        border-bottom: 1.4px solid rgb(43, 43, 43, .1);
    }
    @include breakpoint($tel-bp) {
        font-size: 3.35rem;
    }
    &::placeholder {
        color: transparent;
        @include breakpoint($mid-bp) {
            color: rgb(0, 0, 0, .1);
        }
    }
}

.search__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    border: unset;
    outline: none;
    box-shadow: unset;
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    background: unset;
    padding: 0;

    svg {
        width: 2.3rem;
        height: 2.5rem;
        @include breakpoint($mid-bp) {
            width: 1.7rem;
            height: 1.7rem;    
        }
    }

    .close {
        display: none;
    }
}

.search-result__el {
    max-width: calc(100% - 74rem);
    padding-bottom: 3.4rem;
    padding-top: 2.9rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1.2px solid rgb(43, 43, 43, .1);
    @include breakpoint($xxl-bp) {
        max-width: calc(100% - 43rem);
    }
    @include breakpoint($mid-bp) {
        max-width: 100%;
        padding-bottom: 2.4rem;
        padding-top: 3.4rem;
    }
    @include breakpoint($tel-bp) {
        padding-bottom: 3rem;
        padding-top: 3.6rem;
    }
}

.search-result__el_body {
    padding-right: 2rem;
    width: calc(100% - 5.2rem);
}

.hide.search-result__el {
    display: none;
}

.search-result__el_arrow {
    width: 2.2rem;
    height: 2.2rem;
    min-width: 2.2rem;
    opacity: 0;
    transition: .4s;
    margin-right: 3rem;
    @include breakpoint($mid-bp) {
        opacity: 1;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }

    svg {
        width: 2.2rem;
        height: 2.2rem;  
        transition: .4s;
        will-change: transform;  
    }
}

.search-result__el_title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.002em;
    text-align: left;
    color: rgb(0, 0, 0, .3);
    cursor: default;
    @include breakpoint($mid-bp) {
        font-size: 1.2rem;        
    }
    @include breakpoint($tel-bp) {
        font-size: 1.35rem;        
    }
}

.search-result__el_text {
    margin-top: 1.3rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.002em;
    text-align: left;
    -webkit-line-clamp: 1; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    cursor: default;
    max-height: 2rem;
    transition: max-height .6s;
    @include breakpoint($mid-bp) {
        -webkit-line-clamp: 2; 
        margin-top: 1rem;
        font-size: 1.41rem;
        max-height: unset;
    }
    @include breakpoint($mid-bp) {
        font-size: 1.88rem;
    }

    &::after {
        content: "";
    }
}

.search-result__el_preview {
    position: fixed;
    top: 29%;
    right: 11rem;
    width: 54rem;
    opacity: 0;
    visibility: hidden;
    @include breakpoint($xxl-bp) {
        right: 4rem;
        width: 40rem;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.search-result__el:hover {
    .search-result__el_text {
        -webkit-line-clamp: 2; 
        max-height: 4.5rem;
        @include breakpoint($mid-bp) {
            max-height: unset;
        }
    }
    .search-result__el_arrow {
        opacity: 1;
    }
    .search-result__el_preview {
        opacity: 1;
        visibility: visible;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.search-field.show-results {
    min-height: 73.5rem;
    max-height: 73.5rem;
    @include breakpoint($xxl-bp) {
        min-height: unset;
        max-height: unset;
    }
    @include breakpoint($mid-bp) {
        min-height: var(--h);
        max-height: var(--h);
    }

    .search-result {
        display: flex;
        flex-direction: column;
        padding-top: 3.4rem;
        position: relative;
        @include breakpoint($mid-bp) {
            padding-top: 2rem;
            padding-left: 0.5rem;
            padding-right: 0.7rem;
        }
        @include breakpoint($tel-bp) {
            padding-top: 3rem;
            padding-left: .2rem;
        }
    }


    .search-result__show {
        display: block;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    .search__button {

        @include breakpoint($mid-bp) {
            width: 1.7rem;
            height: 1.7rem;
        }
        @include breakpoint($tel-bp) {
            width: 2.1rem;
            height: 2.1rem;
        }
        .search {
            display: none;
        }

        .close {
            display: inline-block;
        }
    }
}

.search-field.show-all {
    height: var(--h);
    max-height: var(--h);

    .search-result {
        overflow-y: auto;
    }

    .search-result__el_preview {
        top: 50%;
        transform: translateY(-30%);
    }
}