
.search-field {
    display: none;
    position: fixed;
    left: 300px;
    top: 0;
    width: calc(100% - 300px);
    background: #F7F7FA;
    padding-top: 125px;
    padding-bottom: 70px;
    z-index: 4;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow: 0px 1px 23px #0000000a;
    @include breakpoint($xxl-bp) {
        width: calc(100% - 280px);
        left: 280px;
        padding-top: 80px;
        box-shadow: 7px 1px 8px #00000023;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        left: 0;
        padding-top: 125px;
        padding-left: 18px;
        padding-right: 18px;
    }
    @include breakpoint($tel-bp) {
        padding-top: 70px;
    }
}

.search-result__bold {
    font-weight: 600;
}

.search-field.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
    @include breakpoint($xxl-bp) {
        padding-top: 80px;
    }
    @include breakpoint($mid-bp) {
        padding-bottom: 22px;
    }
}

.search-field__form {
    position: relative;
    width: 100%;
}

.search-result-container {
    width: 100%;
    overflow-y: hidden;
    position: relative;
}

.search-result {
    display: none;
    max-height: 415px;
    overflow: hidden;
    width: 100%;
    @include breakpoint($xxl-bp) {
        max-height: calc(var(--h) * 0.5);
    }
    @include breakpoint($mid-bp) {
        overflow: unset;
        max-height: unset;
    }
}

.search-result__show {
    display: none;
    margin-top: 80px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.002em;
    text-align: left;
    color: black;
    text-decoration: none;
    max-width: max-content;
    &:hover,
    &:focus,
    &:active {
        outline: none !important;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.search-field__inp {
    width: 100%;
    padding-bottom: 8px;
    font-size: 46px;
    font-weight: 400;
    line-height: .93;
    letter-spacing: -0.002em;
    text-align: left;
    color: black;
    background: unset;
    outline: none;
    box-shadow: unset;
    border: unset;
    border-bottom: 1.4px solid #2B2B2B;
    @include breakpoint($xxl-bp) {
        font-size: 41px;
    }
    @include breakpoint($mid-bp) {
        font-size: 24px;
        font-weight: 400;
        line-height: .97;
        letter-spacing: -0.002em;
        text-align: left;
        border-bottom: 1.4px solid rgb(43, 43, 43, .1);
    }

    &::placeholder {
        color: transparent;
        @include breakpoint($mid-bp) {
            color: rgb(0, 0, 0, .1);
        }
    }
}

.search__button_sub {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    border: unset;
    outline: none;
    box-shadow: unset;
    display: block;
    width: 28px;
    height: 28px;
    background: unset;
    padding: 0;
    @include breakpoint($mid-bp) {
        width: 17px;
        height: 17px;
    }
    @include breakpoint($tel-bp) {
        width: 21px;
        height: 21px;
    }

    svg {
        width: 23px;
        height: 25px;
        @include breakpoint($mid-bp) {
            width: 17px;
            height: 19px; 
        }
    }
}

.search__button_res {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    border: unset;
    outline: none;
    box-shadow: unset;
    display: none;
    width: 28px;
    height: 28px;
    background: unset;
    padding: 0;
    @include breakpoint($mid-bp) {
        width: 17px;
        height: 17px;
    }
    @include breakpoint($tel-bp) {
        width: 21px;
        height: 21px;
    }

    svg {
        width: 23px;
        height: 25px;
        @include breakpoint($mid-bp) {
            width: 17px;
            height: 19px;  
        }
    }
}

.search-result__el {
    max-width: calc(100% - 740px);
    padding-top: 29px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include breakpoint($xxl-bp) {
        max-width: calc(100% - 40rem);
    }
    @include breakpoint($mid-bp) {
        max-width: 100%;
        padding-top: 34px;
    }
    @include breakpoint($tel-bp) {
        padding-top: 24px;
    }
}

.search-result__el_body {
    padding-right: 20px;
    width: calc(100% - 52px);
    text-decoration: none;
    @include breakpoint($mid-bp) {
        width: calc(100% - 22px);
    }
    &::after {
        content: "";
        width: calc(100% + 70px);
        height: 1px;
        background: rgb(43, 43, 43, .1);
        display: block;
        margin-top: 33px;
        margin-bottom: 1px;
        @include breakpoint($xxl-bp) {
            width: calc(100% + 48px);
        }
        @include breakpoint($mid-bp) {
            margin-top: 23px;
        }
        @include breakpoint($tel-bp) {
            margin-top: 20px;
        }
    }
}

.hide.search-result__el {
    display: none;
}

.search-result__el_arrow {
    width: 22px;
    height: 22px;
    min-width: 22px;
    opacity: 0;
    margin-right: 30px;
    transform: scale(0);
    transform-origin: left bottom;
    @include breakpoint($mid-bp) {
        opacity: 1;
        transform: scale(1);
        margin-right: 0;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }
    }

    svg {
        width: 22px;
        height: 22px;
        transition: .4s;
        will-change: transform;  
    }
}

.search-result__el_title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.002em;
    text-align: left;
    color: rgb(0, 0, 0, .3);
    cursor: pointer;
    @include breakpoint($mid-bp) {
        font-size: 12px; 
    }
}

.search-result__el_text {
    margin-top: 13px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.002em;
    text-align: left;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $black;
    cursor: pointer;
    transition: max-height 0.6s;
    @include breakpoint($mid-bp) {
        -webkit-line-clamp: 2; 
        margin-top: 10px;
        font-size: 14px;
    }


    &::after {
        content: "";
    }
}

.search-result__el_preview {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 70px;
    width: 540px;
    height: calc(100% - 40px);
    object-fit: contain;
    opacity: 0;
    visibility: hidden;
    @include breakpoint($xxl-bp) {
        width: 40rem;
        right: 0;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.search-result__el:hover {
    .search-result__el_arrow {
        opacity: 1;
        transform: scale(1);
        transition: .4s;
    }
    .search-result__el_preview {
        opacity: 1;
        visibility: visible;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.search-field.show-results {
    min-height: 735px;
    max-height: 735px;
    @include breakpoint($xxl-bp) {
        min-height: 630px;
        max-height: 630px;
    }
    @include breakpoint($mid-bp) {
        min-height: var(--h);
        max-height: var(--h);
    }

    .search-result {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        overflow-y: auto;
        @include breakpoint($mid-bp) {
            padding-left: 5px;
            padding-right: 7px;
        }
        @include breakpoint($tel-bp) {
            padding-top: 21px;
            padding-left: 2px;
        }
    }


    .search-result__show {
        display: block;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    .search__button_res {
        display: inline-block;
    }

    .search__button_sub {
        display: none;
    }
}

.search-field.show-all {
    height: var(--h);
    max-height: var(--h);
}