<aside class="menu">
    <div class="menu__inner">
        <div class="menu__top">
            <img class="menu__logo" src="assets/images/logo-menu.svg" alt="">
            <a class="menu__search" href="#">
                <svg class="search">
                    <use href="#search"></use>
                </svg>
            </a>
        </div>
        <nav class="menu__nav">
            <ul class="nav__list">
                <li class="nav__item current active">
                    <a href="#" class="nav__link">Фирменный стиль</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#1">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#2">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#3">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#4">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#5">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#6">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#7">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#8">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#9">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#10">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#11">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#12">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">МСБ</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Premium</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">КИБ</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Private banking</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Иллюстрации</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Анимация</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Сувениры</a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Логоблок</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Цвета</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шрифты</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Типографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Иконографика</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Система блоков</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Шейдинг</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Фотостиль</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Форматы</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Слоган</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Коммуникация</a>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">Аудиобрендинг</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>