<div class="search-field">
    <form class="search-field__form">
        <input placeholder="Поиск" class="search-field__inp" type="text">
        <button type="submit" class="search__button"></button>
    </form>
    <div class="search-result">
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    В макетах с градиентными <span class="search-result__bold">фонами слоган</span> и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической конструкции
                    после продуктового предложения с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической 
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    Слоган — важный компонент <span class="search-result__bold">системы идентификации</span> бренда, для всех линий бизнеса. В охватных каналах слоган помогает выстроить fit to brand коммуникацию, подчеркивает постоянство выражаемой в ней идеи, усиливает связь с продуктом и философией банка. Значение Размещение Цвета Антипримеры Брендирование 
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview2.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Сувениры</p>
                <p class="search-result__el_text">
                    Логотип с дескриптором <span class="search-result__bold">«Банк»</span> используется только в случае размещения группой логотипов. Во всех остальных случаях мы стараемся уйти от дескриптора «Банк» во всех наших маркетинговых коммуникациях, включая карты.
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    В анимационных роликах слоган может
                    использоваться <span class="search-result__bold">в динамической</span> конструкции
                    после продуктового предложения анимационных роликах слоган может
                    использоваться в динамической конструкции
                    после продуктового предложения
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview2.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Сувениры</p>
                <p class="search-result__el_text">
                    в макетах с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете фонами слоган и логотип всегда располагаются на фирменном голубом цвете
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    В макетах с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической конструкции
                    после продуктового предложения с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической 
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    В макетах с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической конструкции
                    после продуктового предложения с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической 
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
        <div class="search-result__el">
            <div class="search-result__el_body">
                <p class="search-result__el_title">Фирменный стиль</p>
                <p class="search-result__el_text">
                    В макетах с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической конструкции
                    после продуктового предложения с градиентными фонами слоган и логотип всегда располагаются на фирменном голубом цвете, в анимационных роликах слоган может
                    использоваться в динамической 
                </p>    
            </div>
            <a class="search-result__el_arrow" href="#"></a>
            <img class="search-result__el_preview" src="assets/images/preview.jpg" alt="">
        </div>
    </div>
    <a class="search-result__show" href="#">Все результаты&nbsp;<span class="search-result__show_num">34</span></a>
</div>