<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="preloader__wrapper">
        <img src="assets/images/logo-menu.svg" alt="">
        <div class="preloader">
            <div class="preloader__container">
                <div><span>Факторинг</span></div>
                <div><span>Брокер</span></div>
                <div><span>Инвестиции</span></div>
                <div><span>Банк</span></div>
            </div>
        </div>
    </div>

    <main>

        {{> sprite }}
        {{> body }}
  
    </main>
    
    {{> footer }}    
    
    <!-- JS -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="assets/vendor/smooth-scroll/smooth-scroll.min.js"></script>
    <script src="assets/vendor/lazysizes/lazysizes.min.js"></script>
    <script defer src="assets/vendor/scroll-lock/scroll-lock.min.js"></script>
    <script defer src="assets/vendor/swiper/swiper.min.js"></script>
    <script defer src="assets/js/app.js"></script>

</body>
</html>